<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.proxyman.Packetry.NetworkHelper</string>
	<key>BundleProgram</key>
	<string>Contents/MacOS/PacketryNetworkHelper</string>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<false/>
	<key>StandardOutPath</key>
	<string>/var/log/PacketryNetworkHelper.log</string>
	<key>StandardErrorPath</key>
	<string>/var/log/PacketryNetworkHelper.log</string>
</dict>
</plist>
